.HaikuText {
    align-self: center;
    background: rgba(240, 255, 255, 0.91);
    position: relative;
    margin-top: 250px;
}

.HaikuText p {
    text-align: center;
    font-family: Cassanet, serif;
    color: #5041B2;
    font-size: 25px;
    font-style: italic;
    text-shadow: 0 1px 1px darkcyan;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}