.Layout{
    display: flex;
    flex-direction: column;
    background-color: var(--pageBackground);
    min-height: 100vh;
    font-family: Cassanet, serif;
}

.Layout main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}