.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, black 5%, #5041b2 30%, #7969e6 100%, rgba(145, 145, 255, 0.71) 100%);
    transition: transform .22s ease-out;
    z-index: 2000;
    transform: translateY(0px);
    box-shadow: 3px 10px 3px rgba(0, 0, 0, 0.2);
}

.Navbar strong {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: Cassanet;
    font-size: 30px;
    margin-left: 10px;
    color: var(--noiseGreen);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.Navbar div{
    position: absolute;
    top: 50%;
    padding-right: 8em;
    right: 0;
    transform: translate(0, -50%);
    font-family: Cassanet, serif;
    font-size: 22px;
    text-shadow: 2px 3px 2px black;
    color: var(--noiseGreen);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.NavbarIcon {
    display: inline-block;
    background-size: cover;
    overflow: hidden;
    margin: 5px;
    margin-left: 40px;
    background-image: url('../../../navbar_icon.png');
    width: 50px;
    height: 50px;
}

.Navbar.hide {
    transform: translateY(-100px);
}