.Haiku {
    align-self: center;
    display: inline-block;
    height: 350px;
    width: 600px;
    border: 2px solid var(--borderToxic);
    box-shadow: 5px 5px 3px #254447;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all 5.2s ease-in-out;
}
