.Button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    border: var(--buttonShadow);
    margin: 15px;
    font-family: Cassanet, serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.Button:focus{
    outline: none;
}

.Button:active{
    box-shadow:  0 1px 1px 1px var(--buttonShadow);
}

.Button:disabled{
    background: var(--buttonDisabled);
    color: honeydew;
    cursor: not-allowed;
}

.error{
    background: var(--buttonError);
}

.successful{
    background: var(--buttonSuccess);
    color: var(--buttonPrimary);
}

.primary{
    background: var(--buttonPrimary);
    color: var(--buttonSuccess);
}

.navigation{
    color: var(--buttonNavigationActive);
}