.Button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    border: aquamarine;
    margin: 15px;
    font-family: Cassanet;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.Button:focus{
    outline: none;
}

.Button:active{
    box-shadow:  0 1px 1px 1px aquamarine;
}

.Button:disabled{
    background: darkslategrey;
    color: honeydew;
    cursor: not-allowed;
}

.error{
    background: var(--errorRed);
}

.successful{
    background: var(--noiseGreen);
    color: var(--darkCyan);
}

.primary{
    background: var(--darkCyan);
    color: var(--noiseGreen);
}

.navigation{
    color: var(--navigationPurple);
}