.HaikuCreator {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
    width: 50%;
    min-width: 750px;
    border: 5px solid aquamarine;
}

.HaikuCreator > div {
    display: inline-block;
    align-self: center;
    width: 80%;
    padding: 100px 20px;
}

.HaikuCreator hr {
    color: var(--noiseGreen);
}

.HaikuCreator h1 {
    text-align: center;
    font-size: 34px;
    color: azure;
}

.HaikuCreator h2 {
    text-align: center;
    font-size: 25px;
    color: azure;
}
