.HaikuCreator {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
    width: 50%;
    min-width: 750px;
    background: var(--pageBackground);
}

.HaikuCreator > div {
    display: inline-block;
    align-self: center;
    width: 80%;
    padding: 100px 20px;
}

.HaikuCreator hr {
    color: var(--noiseGreen);
}

.HaikuCreator h1 {
    text-align: center;
    font-size: 34px;
    color: azure;
    margin: 20px;
}

.HaikuCreator .Haiku {
    text-align: center;
}

.HaikuCreator h2 {
    text-align: center;
    font-size: 25px;
    color: azure;
    margin: 10px;
}
